USE [master]
GO
/****** Object:  Database [tatu_company]    Script Date: 09-12-2019 0:28:52 ******/
CREATE DATABASE [tatu_company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tatu_company', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\tatu_company.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tatu_company_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\tatu_company_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tatu_company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tatu_company]
GO
/****** Object:  Table [dbo].[boleta]    Script Date: 09-12-2019 0:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boleta](
	[id_boleta] [int] NOT NULL,
	[fecha_hora] [date] NOT NULL,
	[id_venta] [int] NOT NULL,
 CONSTRAINT [PK_boleta] PRIMARY KEY CLUSTERED 
(
	[id_boleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cliente]    Script Date: 09-12-2019 0:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[edad] [int] NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](50) NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[comuna]    Script Date: 09-12-2019 0:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comuna](
	[id_comuna] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_comuna] PRIMARY KEY CLUSTERED 
(
	[id_comuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 09-12-2019 0:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sucursal](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[id_comuna] [int] NOT NULL,
 CONSTRAINT [PK_sucursal] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tatuador]    Script Date: 09-12-2019 0:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tatuador](
	[id_tatuador] [int] NOT NULL,
	[rut] [varchar](14) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[fec_nac] [date] NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [varchar](200) NULL,
	[genero] [char](1) NULL,
 CONSTRAINT [PK_tatuador] PRIMARY KEY CLUSTERED 
(
	[id_tatuador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tatuaje]    Script Date: 09-12-2019 0:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tatuaje](
	[id_tatuaje] [int] NOT NULL,
	[tamano] [varchar](30) NOT NULL,
	[cant_color] [varchar](30) NOT NULL,
	[sesiones] [int] NOT NULL,
 CONSTRAINT [PK_tatuaje] PRIMARY KEY CLUSTERED 
(
	[id_tatuaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venta]    Script Date: 09-12-2019 0:28:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[id_venta] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_tatuador] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[fecha_hora] [date] NOT NULL,
	[id_tatuaje] [int] NOT NULL,
	[valor_total] [int] NOT NULL,
 CONSTRAINT [PK_venta] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[cliente] ([id_cliente], [nombre], [edad], [telefono], [correo]) VALUES (1, N'juan', 32, N'3562326', N'test@test.com')
INSERT [dbo].[comuna] ([id_comuna], [nombre]) VALUES (1, N'Ñuñoa')
SET IDENTITY_INSERT [dbo].[sucursal] ON 

INSERT [dbo].[sucursal] ([id_sucursal], [direccion], [id_comuna]) VALUES (8, N'pedrito santo 031', 1)
SET IDENTITY_INSERT [dbo].[sucursal] OFF
INSERT [dbo].[tatuador] ([id_tatuador], [rut], [nombres], [apellidos], [fec_nac], [direccion], [telefono], [genero]) VALUES (1, N'19523961-9', N'julito', N'sanche', CAST(0x500F0B00 AS Date), N'los alamos 420', N'56238915', N'M')
INSERT [dbo].[tatuaje] ([id_tatuaje], [tamano], [cant_color], [sesiones]) VALUES (1, N'24x35', N'3', 5)
INSERT [dbo].[venta] ([id_venta], [id_cliente], [id_tatuador], [id_sucursal], [fecha_hora], [id_tatuaje], [valor_total]) VALUES (1, 1, 1, 8, CAST(0x35160B00 AS Date), 1, 5000)
ALTER TABLE [dbo].[boleta]  WITH CHECK ADD  CONSTRAINT [FK_boleta_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[venta] ([id_venta])
GO
ALTER TABLE [dbo].[boleta] CHECK CONSTRAINT [FK_boleta_venta]
GO
ALTER TABLE [dbo].[sucursal]  WITH CHECK ADD  CONSTRAINT [FK_sucursal_comuna] FOREIGN KEY([id_comuna])
REFERENCES [dbo].[comuna] ([id_comuna])
GO
ALTER TABLE [dbo].[sucursal] CHECK CONSTRAINT [FK_sucursal_comuna]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_cliente]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_sucursal]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_tatuador] FOREIGN KEY([id_tatuador])
REFERENCES [dbo].[tatuador] ([id_tatuador])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_tatuador]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_tatuaje] FOREIGN KEY([id_tatuaje])
REFERENCES [dbo].[tatuaje] ([id_tatuaje])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_tatuaje]
GO
USE [master]
GO
